{wc:templates "index.headerbar"}
{wc:templates "index.headertop"}
<div class="clear"></div>
<!--商品 wrap 开始-->
<div class="shop_payment">
		<div id="divResult" class="wait_list hidden" style="display: block;">
			<div class="wait_list_tips ">
			<dl>
				<!--<dt><img src="images/login_exp04.png" border="0" alt=""></dt>-->
				<dd><h2 class="c_red Fb">恭喜您，支付成功！请等待系统为您揭晓！</h2>
					<p>您现在可以<a href="{WEB_PATH}/member/shop/userbuylist" class="blue">查看云购记录</a>或<a href="{WEB_PATH}" class="blue">继续购物</a></p>
					<!-- <p>总共成功云购1件商品，信息如下：</p> -->
				</dd>
			</dl>
			</div>
		</div>        
</div>
<!--商品 wrap 结束-->
<div class="clear"></div>
{wc:templates "index.footer"}