{wc:templates "index.header"}
<link rel="stylesheet" type="text/css" href="{G_TEMPLATES_STYLE}/css/goods.css"/>
<script type="text/javascript" src="{G_TEMPLATES_JS}/cloud-zoom.min.js"></script>
<div class="clear"></div>
<div class="wrap w1200">
	<div class="Current_nav w1200">
		<a href="index.html">首页</a> &gt; 
		<a href="index.html">平板电脑</a> &gt;
		<a href="index.html">苹果</a> &gt;
		商品详情
	</div>
	<div class="show_content">
		<div id="divPeriodList" class="show_Period" style="max-height:41px;">
			<div class="period_Open">
				<a class="gray02" href="javascript:;" id="btnOpenPeriod" click="off" >全部<i></i></a>
			</div>
		<ul class="Period_list bb_gray">
		<li class="now"><a href="{wc:$cgoods_url0}" class="{wc:$style0}" >第{wc:$itemlist0['qishu']}期<b>进行中<span class="dotting"></span></b></a></li>
		{wc:loop $itemlist $qitem} 
		{wc:if $qitem['key']%9==0}
		</ul><ul class="Period_list bb_gray">
		{wc:if:end}
		<li><a href="{wc:$qitem['cgoods_url']}" class="{wc:$qitem['style']} {wc:$qitem['stylea']} ">第{wc:$qitem['qishu']}期<i></i></a></li>
		{wc:loop:end}
		</ul>
		</div>	
<!--显示期数start-->
		<div class="ng-main clearfix" style="display:none;">
			<div class="ng-period">
				<div class="ng-period-inner">
					<div class="select-wrap">
						<div class="input-wrapper"> 
							<div class="label">直达第</div>
							<div class="inp"><input id="txtPeriod" maxlength="7" placeholder="请输入"></div>
							<div class="unit">期</div>
							<a id="btnGo" href="javascript:;" class="fly ng-result-bg transparent-png"></a> 
						</div>
					</div>
					<div class="ng-pt jspScrollable" style="padding: 0px; width: 1169px;">
						<div class="jspContainer">
							<div class="jspPane" style="padding: 0px; width: 1125px; top: 0px;">
								<ul class="ng-pt-inner clearfix">
								<li class="current"><a href="{wc:$cgoods_url0}">第{wc:$itemlist0['qishu']}期<b>进行中<span class="dotting"></span></b></a></li>
								{wc:loop $itemlist $qitem} 
								<li><a href="{wc:$qitem['cgoods_url']}" >第{wc:$qitem['qishu']}期<i></i></a></li>
								{wc:loop:end}
								</ul>								
							</div>
							<div class="jspVerticalBar">
								<div class="jspCap jspCapTop"></div>
								<div class="jspTrack" style="height: 333px;">
									<div class="jspDrag" style="height: 158px; top: 0px;">
										<div class="jspDragTop"></div>
										<div class="jspDragBottom"></div>
									</div>
								</div>
								<div class="jspCap jspCapBottom"></div>
							</div>

						</div>
					</div>
					<a id="a_close" href="javascript:;"  click="off"  class="ng-frame-close ng-result-bg transparent-png"></a>
				</div>
			</div>
		</div>		
<!--显示期数end -->
		<div class="Pro_Details">
			<!-- 正在进行中 开始 -->
			<div style="display:block;">	
				<div class="ng-goods-img">
					<div class="zoom-small-image">
						<div id="wrap" style="top:0px;z-index:9999;position:relative;">
						   <span href="{G_UPLOAD_PATH}/{wc:$item['g_thumb']}" class="ng-middle-box cloud-zoom" id="zoom1" rel="adjustX:10, adjustY:-2">
							   <img width="343" height="343" src="{G_UPLOAD_PATH}/{wc:$item['g_thumb']}">
						    </span>
							<div class="mousetrap"></div>
						</div>
					 </div>				
					
					
					<div class="ng-goods-piclist ">
						<div class="ng-list-wrapper zoom-desc">
							<div class="jcarousel-prev jcarousel-prev-disabled"></div>
							<div class="ng-list-inner clearfix jcarousel-clip">
								<p>
									{wc:loop $item['g_picarr'] $imgtu}  				
									<label href="{G_UPLOAD_PATH}/{wc:$imgtu}" class='cloud-zoom-gallery'  rel="useZoom: 'zoom1', smallImage: '{G_UPLOAD_PATH}/{wc:$imgtu}'">
									<img  class="zoom-tiny-image" width="40" height="40" src="{G_UPLOAD_PATH}/{wc:$imgtu}">
									</label>			
									{wc:loop:end} 	
								</p>								
							</div>
							<div class="jcarousel-next jcarousel-next-disabled"></div>	
						</div>							
					</div>						
					<!--	
					<div class="ng-share-out">
						<a id="a_sc" href="javascript:;" class="sc"><i class="t-icon sc-icon ng-box-bg"></i>关注</a>
						<div class="fx">
							<div class="fx-txt">
	                            <i class="t-icon fx-icon ng-box-bg"></i>分享
	                        </div>
	                        <div class="fx-out-inner">
	                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
	                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
	                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
	                            <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
	                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
	                        </div>
						</div>
					</div>
					-->
				</div>			
				<div class="ng-goods-detail ng-goods-detail-height">
					<h2 class="o-title"><span class="num">
	                    (第{wc:$item['qishu']}期)</span>{wc:$item['g_title']}<span class="o-info" style="{wc:$item['g_title_style']}">{wc:$item['g_description']}</span>
	                </h2> <p class="text-left price o-p">价值：
					{wc:if ($item['q_showtime']=='Y')}
	               {wc:fun:sprintf("%.2f",$item['zongrenshu']*$item['price'])}{wc:fun:L('cgoods.currency')}
	                {wc:else}
					{wc:$item['g_money']}{wc:fun:L('cgoods.currency')}
					{wc:if:end}
					</p>
					<div class="line-time">
						<!--显示揭晓动画 start-->
						{wc:if ($item['q_showtime']=='Y')}
							{wc:templates "index.cgitem_countdown"}
						{wc:else}
							{wc:templates "index.cgitem_contents"}
						{wc:if:end}	
						<!--显示揭晓动画 end-->						
	                    <div class="about-tips clearfix">
	                        <ul class="f-inner clearfix">
	                            <li class="z-beginning">三大服务保证：</li>
	                            <li><a href="{WEB_PATH}/article-4.html" target="_blank"><i class="ng-xq-bg t1"></i>100%公平公正</a></li>
	                            <li class="z-lines"><b></b></li>
	                            <li><a href="{WEB_PATH}/article-4.html" target="_blank"><i class="ng-xq-bg t2"></i>100%正品保证</a></li>
	                            <li class="z-lines"><b></b></li>
	                            <li><a href="{WEB_PATH}/article-4.html" target="_blank"><i class="ng-xq-bg t3"></i>全国免费配送</a></li>
	                        </ul>
	                    </div>
	                    <div class="advert-wrapper">
	                    	<ul class="select-wrapper">
	                            <li class="gray9">怎么玩儿<i class="ng-xq-bg"></i></li>
	                        </ul>
	                        <div id="div_advertinner" class="advert-inner clearfix">
	                            <div class="advert-list01 advert-m">
	                                <div class="ad-icon01 ng-xq-bg"></div>
	                                <p class="ad-title">选择商品</p>
	                                <p class="ad-info">
	                                    每个商品规定总需<br>
	                                    参与人次(1人次=1元)
	                                </p>
	                                <div class="arrow ng-xq-bg"></div>
	                            </div>
	                            <div class="advert-list02 advert-m">
	                                <div class="ad-icon02 ng-xq-bg"></div>
	                                <p class="ad-title">支付1元</p>
	                                <p class="ad-info">
	                                    参与人次越多<br>
	                                    获得机率越大
	                                </p>
	                                <div class="arrow ng-xq-bg"></div>
	                            </div>
	                            <div class="advert-list03 advert-m">
	                                <div class="ad-icon03 ng-xq-bg"></div>
	                                <p class="ad-title">抽出幸运获得者</p>
	                                <p class="ad-info">
	                                    所有人次售完后根据计算规则<br>
	                                    抽出一位幸运获得者
	                                </p>
	                            </div>
	                        </div>
	                    </div>
		            </div>
				</div>
				<!-- 正在进行中 结束 -->

				
				<!-- 云购记录  开始 -->
				<div class="ng-goods-buy Pro_Record">
					<div class="ng-buy-list">
						<div id="ulRecordTab" class="ng-buy-nav">
	                        <a href="javascript:;" title="最新{wc:fun:L('html.key')}记录" class="ng-fl current NewestRec Record_titCur">最新{wc:fun:L('html.key')}记录</a>
	                        <a href="javascript:;" title="我的{wc:fun:L('html.key')}记录" class="ng-fr MytRec" >我的{wc:fun:L('html.key')}记录</a>
	                        <div class="b-line"></div>
	                    </div>
	                    <!-- 最新云购记录 开始 -->
	                    <div class="Newest_Con hide list-wrap" style="display:block;">
	                    	<div class="my-list">
	                    		<ul class="list">
								{wc:loop $cgoods_user_record $user}
									<li>
									<a rel="nofollow" href="{WEB_PATH}/uname/{wc:fun:idjia($user['ouid'])}" target="_blank" class="buy-name">
										<i class="head-s-pic">
										{wc:if get_user_key($user['ouid'],'img','3030')=='null'}
										<img src="{G_UPLOAD_PATH}/photo/member.jpg.3030.jpg" border="0" width="20" height="20">
										{wc:else}
										<img src="{G_UPLOAD_PATH}/{wc:fun:Getuserimg($user['ouid'])}.3030.jpg" border="0" width="20" height="20">          
										{wc:if:end}	
										</i></a>	
										{wc:$user['ou_name']}			
									</a>					
									<span class="buy-num">{wc:$user['onum']}</span>人次
									</li>
								{wc:loop:end}								
								
	                    		</ul>
	                    		<a href="javascript:;"  id="btnUserBuyMore"  class="select-all">查看全部</a>
	                    	</div>
	                    </div>
	                    <!-- 最新云购记录 结束 -->

					<div class="Newest_Con hide list-wrap" style="display:none;"><!--我的{wc:fun:L('html.key')}记录-->
					{wc:if $userlogin=login('bool')}				
					<ul>				
					{wc:m=cloud_goods mod=cloud_user_recordID($userlogin['uid'],$item['id'],9) return=cloud_user_recordinfo}
					{wc:if $cloud_user_recordinfo}
					{wc:loop $cloud_user_recordinfo $row}									
					<li>{wc:fun:_put_time($row['otime'])} {wc:fun:L('html.key')}了<em class="Fb gray01">  {wc:$row['onum']}</em>  个{wc:fun:L('html.key')}码</li>						
					{wc:loop:end} 
					{wc:else}
					<div class="My_RecordReg">
						<b class="gray01">看不到？您还没有购买该商品哟，去试试吧！</b>				
					</div>					
					{wc:if:end}
					</ul>
					{wc:else}					
						<div class="list-wrap My_RecordReg" >
							<div class="my-record">
	                            <!--未登录-->
	                            <div class="no-login-wrapper">
	                                <div class="gth-icon transparent-png"></div>
	                                <p class="ng-see-mycord">请您<a id="a_login" href="javascript:;">登录</a>后查看云购记录！</p>
	                            </div>
	                        </div>
						</div>
					{wc:if:end}					
					</div>						

					</div>
				</div>	
				<!-- 云购记录 结束 -->
			</div>
			<!-- 正在进行中 结束 -->
			
		</div>
	</div>
</div>
<div class="clear"></div>
<!--商品详情 开始-->
<div class="ProductTabNav w1200 mt10">
	<div id="divProductNav" class="DetailsT_Tit">
		<div class="DetailsT_TitP">
			<ul>				
				<li class="Product_DetT DetailsTCur"><span class="DetailsTCur">计算详情</span></li>
				<li id="liUserBuyAll" class="All_RecordT "><span class="">所有参与记录</span></li>
				<li class="Single_ConT"><span class="">晒单</span></li>
			</ul>
				
		</div>
	</div>
	<div id="divCalResult" class="Product_Content" name="div_tab">
		<div class="Product_Con">{wc:$item['g_content']}</div>
	</div>

		<!--所有参与记录 开始-->
		<div class="AllRecord_Content Product_Content">
			<div name="div_tab" id="bitem" class="AllRecordCon" style="display:none;">
				<iframe id="iframea_bitem" g_src="{WEB_PATH}/index/cloud_goods/go_record_iframe/{wc:$item[id]}/20" style="width:1100px; border:none;height:100%" frameborder="0" scrolling="no"></iframe>		
			</div>				
		</div>
		<!--所有参与记录 结束-->

		<!-- 晒单 开始 -->
		<div name="div_tab" id="divPost"   class="Single_Content Product_Content" style="display:none;">
			<iframe id="iframea_divPost" g_src="{WEB_PATH}/index/share/share_iframe/{wc:$item[id]}" style="width:1100px; border:none;height:100%" frameborder="0" scrolling="no"></iframe>
		</div>		
		<!-- 晒单 结束 -->

	</div>
</div>
<script>
$(function(){
	$("#txtPeriod").focus(function(){
		$(this).attr("placeholder","");
	});
	$("#txtPeriod").blur(function(){
		$(this).attr("placeholder","请输入");	
	});
	$("#btnGo").click(function(){
		var gotonum=parseInt($("#txtPeriod").val());
		var sum=parseInt({wc:fun:count($itemlist)}+1);
		var gid='{wc:$item[gid]}';
		var path='{wc:WEB_PATH}';			
			if(gotonum){
			$.post(path+"/index/cloud_goods/QishuToid/",{'gid':gid,'qishu':gotonum},function(data){
				if(data.error){
					window.location.href="{WEB_PATH}/cgoods/"+data.result;
				}			
			},'json');
				
			}
	});
	$("#txtPeriod").keyup(function(){
		var gotonum=parseInt($("#txtPeriod").val());
		var sum=parseInt({wc:fun:count($itemlist)}+1);		
		if(!gotonum){					
			$("#txtPeriod").val(1);
		}else{
			if(gotonum>sum){
				$("#txtPeriod").val(sum);
			}
		}
	});	
});

$("#btnOpenPeriod").click(function(){
	if($(this).attr("click")=='off'){
		$('.ng-main').show();		
		$('.Period_list').hide();		
		$('.Pro_Details').hide();		
	}else{
		$('.ng-main').hide();
		$('.Period_list').show();
		$('.Pro_Details').show();			
	}			
});
$("#a_close").click(function(){
	if($(this).attr("click")=='off'){
		$('.ng-main').hide();		
		$('.Period_list').show();
		$('.Pro_Details').show();			
	}else{
		$('.ng-main').show();
		$('.Period_list').hide();
		$('.Pro_Details').hide();	
	}			
});
$("#div_showmore").click(function(){
		var ui_obj = $("#div_showcontent ul li");
		if($(this).attr("click")=='off'){
			$(".ng-table-inner").css("max-height",ui_obj.length*45+"px");	
			$(this).attr("click","on");
			$(this).html("收起<s></s>");			
		}else{
			$(".ng-table-inner").css("max-height","322px");	
			$(this).attr("click","off");
			$(this).html("展开全部100条数据<i></i>");
		}			
});
function set_iframe_height(fid,did,height){
	$("#"+fid).css("height",height);
}


$(function(){
	$("#ulRecordTab a").click(function(){
		var add=$("#ulRecordTab a").index(this);

			$("#ulRecordTab a").removeClass("Record_titCur").eq(add).addClass("Record_titCur");
			if(add==0){
				$(".b-line").animate({left: '0px'},200);
			}else{
				$(".b-line").animate({left: '+100px'},200);	
			}

		$(".Pro_Record .hide").hide().eq(add).show();
	});
	
	var DetailsT_TitP = $(".DetailsT_TitP ul li");
	var divContent    = $("#divContent div");	
	DetailsT_TitP.click(function(){
		var index = $(this).index();
			DetailsT_TitP.removeClass("DetailsTCur").eq(index).addClass("DetailsTCur");
	
			var iframe = divContent.hide().eq(index).find("iframe");
			if (typeof(iframe.attr("g_src")) != "undefined") {
			  	 iframe.attr("src",iframe.attr("g_src"));
				 iframe.removeAttr("g_src");
			}
			divContent.hide().eq(index).show();
	});
	
	
	$("#btnUserBuyMore").click(function(){
		DetailsT_TitP.removeClass("DetailsTCur").eq(1).addClass("DetailsTCur");
		DetailsT_TitP.removeClass("DetailsTCur").eq(1).addClass("DetailsTCur");
			var iframe = divContent.hide().eq(1).find("iframe");
			if (typeof(iframe.attr("g_src")) != "undefined") {
			  	 iframe.attr("src",iframe.attr("g_src"));
				 iframe.removeAttr("g_src");
			}
			divContent.hide().eq(1).show();		
		$("html,body").animate({scrollTop:930},1500);
	});
	$(window).scroll(function(){
		if($(window).scrollTop()>=941){
			$("#divProductNav").addClass("nav-fixed");
		}else if($(window).scrollTop()<941){
			$("#divProductNav").removeClass("nav-fixed");
		}
	});
})

$(function(){
var fouli=$(".DetailsT_TitP ul li");
var divCalResult =  $("div[name='div_tab']");
	fouli.click(function(){		   
		var index=fouli.index(this);
		fouli.removeClass("DetailsTCur").eq(index).addClass("DetailsTCur");
		var iframe = divCalResult.hide().eq(index).find("iframe");
			if (typeof(iframe.attr("g_src")) != "undefined") {
			  	 iframe.attr("src",iframe.attr("g_src"));
				 iframe.removeAttr("g_src");
			}
			
		divCalResult.hide().eq(index).show();
	}); 
});	

var syrs={wc:$item['zongrenshu']-$item['canyurenshu']};
var shopinfo={'shopid':{wc:$item['id']},'money':{wc:$item['price']},'shenyu':syrs};
var shopnum = $("#num_dig");
//添加购买
$(function(){
function baifenshua(aa,n){
	n = n || 2;
	return ( Math.round( aa * Math.pow( 10, n + 2 ) ) / Math.pow( 10, n ) ).toFixed( n ) + '%';
}
shopnum.ready(function(){
	if(shopnum.val()>syrs){
		shopnum.val(syrs);
	}   
});	
shopnum.keyup(function(){
	if(isNaN(shopnum.val())){					
	 shopnum.val(1);
	}else{
		if(shopnum.val()<=0){					
		 shopnum.val(1);	
		} 
		if(shopnum.val()>syrs){
			shopnum.val(syrs);
		}
			var numshop=shopnum.val();
			if(numshop=={wc:$item['zongrenshu']}){
				var baifenbi='100%';
			}else{
				var showbaifen=numshop/{wc:$item['zongrenshu']};
				var baifenbi=baifenshua(showbaifen,2);
			}
			$("#chance").html("<span style='color:red'>获得机率"+baifenbi+"</span>");   		
	}	
  
});	

$("#shopadd").click(function(){
			var shopnum = $("#num_dig");
				var resshopnump='';				
				var num = parseInt(shopnum.val());		
				if(num+1 >syrs){				
					shopnum.val(syrs);
					resshopnump = syrs;
				}else{
					resshopnump=parseInt(shopnum.val())+1;
					shopnum.val(resshopnump);	
					if(shopnum.val()>=syrs){
						resshopnump=shopinfo['shenyu'];
						shopnum.val(resshopnump);
					}
				}
			if(resshopnump=={wc:$item['zongrenshu']}){
				var baifenbi='100%';
			}else{
				var showbaifen=resshopnump/{wc:$item['zongrenshu']};
				var baifenbi=baifenshua(showbaifen,2);
			}
			$("#chance").html("<span style='color:red'>获得机率"+baifenbi+"</span>");                			
		});
		
$("#shopsub").click(function(){
		var shopnum = $("#num_dig");
		var num = parseInt(shopnum.val());
		if(num<2){
			shopnum.val(1);			
		}else{
			shopnum.val(parseInt(shopnum.val())-1);
		}
 		var shopnums=parseInt(shopnum.val());
		if(shopnums=={wc:$item['zongrenshu']}){
				var baifenbi='100%';
			}else{
				var showbaifen=shopnums/{wc:$item['zongrenshu']};
				var baifenbi=baifenshua(showbaifen,2);
			}
			$("#chance").html("<span style='color:red'>获得机率"+baifenbi+"</span>");       
	});		
});

$(function(){
$(".Det_Cart").click(function(){ 
	Cartcookie(false);
});
	$(".Det_Shopbut").click(function(){	
		Cartcookie(true);
	});	
});


function Cartcookie(cook){
	var info = {};
	var shopid=shopinfo['shopid'];
	var cookie_pre="{wc:fun:GetConfig('cookie_pre')}";//cookie配置前缀
	var Cartlist = $.cookie(cookie_pre+'Cartlist');
	if(!Cartlist){
		var info = {};
	}else{
		var info = $.evalJSON(Cartlist);
		if((typeof info) !== 'object'){
			var info = {};
		}
	}		
	if(!info[shopid]){
		var CartTotal=$("#sCartTotal").text();
			$("#sCartTotal").text(parseInt(CartTotal)+1);
			$("#btnMyCart em").text(parseInt(CartTotal)+1);
	}	
	var number=parseInt($("#num_dig").val());	
	info[shopid]={};
	info[shopid]['num']=number;
	info[shopid]['shenyu']=shopinfo['shenyu'];
	info[shopid]['money']=shopinfo['money'];
	info['MoenyCount']='0.00';
	$.cookie(cookie_pre+'Cartlist',$.toJSON(info),{expires:7,path:'/'});	
	if(cook){
		window.location.href="{WEB_PATH}/member/cart/cartlist/"+new Date().getTime();//+new Date().getTime()
	}
}
</script>
{wc:templates "index.footer"}
