{wc:templates "index.header"}
<div class="clear"></div>
<div class="GuideContent">
	<div class="GuideW">
		<div class="Guidehead">
			<p><img width="1200" src="{wc:fun:getimgshow('Guide_1.jpg',G_TEMPLATES_IMAGE)}"></p>
			<p><img width="1200" src="{wc:fun:getimgshow('Guide_2.jpg',G_TEMPLATES_IMAGE)}"></p>
		</div>
		<div class="Guidebor">
			<ul class="Guide-Explain clearfix">
				<li class="Explain-l ExplainA fl"><p>选择一款商品，点击“立即1元云购”</p><img src="{wc:fun:getimgshow('Guide_3.jpg',G_TEMPLATES_IMAGE)}"></li>
				<li class="Explain-r Explainimg fl"><img src="{wc:fun:getimgshow('Guide_4.jpg',G_TEMPLATES_IMAGE)}"></li>
			</ul>
			<div class="Guide-Separate">
				<img src="{wc:fun:getimgshow('Guide_5.jpg',G_TEMPLATES_IMAGE)}">
			</div>
			<ul class="Guide-Explain clearfix">
				<li class="Explain-l Explainimg fl"><img src="{wc:fun:getimgshow('Guide_6.jpg',G_TEMPLATES_IMAGE)}"></li>
				<li class="Explain-r ExplainB fl">
					<p>支付1元，购买1人次，获得1个“云购码”</p>
					<img src="{wc:fun:getimgshow('Guide_7.jpg',G_TEMPLATES_IMAGE)}">
				</li>
			</ul>
			<div class="Guide-Separate">
				<img src="{wc:fun:getimgshow('Guide_5.jpg',G_TEMPLATES_IMAGE)}">
			</div>
			<ul class="Guide-Explain clearfix">
				<li class="Explain-l ExplainC fl">
					<p>当一件商品达到总参与人次，抽出1名商品获得者；</p>
					<img src="{wc:fun:getimgshow('Guide_8.jpg',G_TEMPLATES_IMAGE)}">
				</li>
				<li class="Explain-r Explainimg fl"><img src="{wc:fun:getimgshow('Guide_9.jpg',G_TEMPLATES_IMAGE)}"></li>
			</ul>
			<div class="Guide-Separate">
				<img src="{wc:fun:getimgshow('Guide_5.jpg',G_TEMPLATES_IMAGE)}">
			</div>
			<div class="Rule clearfix">
				<h2><img src="{wc:fun:getimgshow('Guide_10.jpg',G_TEMPLATES_IMAGE)}" border="0" alt=""></h2>
				<ul class="Rule-Exp">
					<li>每件商品参考市场价平分成相应“等份”，每份1元，1份对应1个云购码。</li>
					<li>同一件商品可以购买多次或一次购买多份。</li>
					<li>当一件商品所有“等份”全部售出后计算出“幸运云购码”，拥有“幸运云购码”者即可获得此商品。</li>
				</ul>
			</div>
			<div class="Rule clearfix Rulemat">
				<h2><img src="{wc:fun:getimgshow('Guide_11.jpg',G_TEMPLATES_IMAGE)}"></h2>
				<ul class="Rule-Exp">
					<li>取该商品最后购买时间前网站所有商品100条购买时间记录（限时揭晓商品取截止时间前网站所有商品100条购买时间记录）。</li>
					<li>时间按时、分、秒、毫秒依次排列组成一组数值。</li>
					<li>将这100组数值之和除以商品总需参与人次后取余数，余数加上10,000,001即为“幸运云购码”。</li>
				</ul>
			</div>
			<div class="Rule-line"></div>
			<div class="Rule-button">
				<a href=""><img src="{wc:fun:getimgshow('Guide_14.jpg',G_TEMPLATES_IMAGE)}"></a>
			</div>
		</div>
		<div class="Rule-Anglebg">
			<p><img width="1200" src="{wc:fun:getimgshow('Guide_16.jpg',G_TEMPLATES_IMAGE)}"></p>
		</div>
	</div>
</div>
<div class="clear"></div>
{wc:templates "index.footer"}
